<div class="header">
  <div class="left">
    <h5>ShopAllJersey</h5>
  </div>
  <div class="middle">
    <ul>
      <li >
        <a [routerLink]="['/products/home']" [routerLinkActive]="'is-active'">HOME</a>
      </li>
      <li >
        <a [routerLink]="['/products/clubs']" [routerLinkActive]="'is-active'">
          CLUBS</a>
        </li>
      <li >
        <a [routerLink]="['/products/players']" [routerLinkActive]="'is-active'">PLAYERS</a>
        </li>
    </ul>
  </div>
  
  <div class="right">
     <p>Cart</p>
    <p>Orders</p>
  </div>
</div>