.header {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  font-size: 20px;
  border-bottom: 3px solid #e8e8e8;
  padding: 0px 28px;
}

ul {
  display: flex;
}

li {
  margin-right: 4em;
  list-style: none;
}

a {
  text-decoration: none !important;
  ;
}

a.is-active {
  text-decoration: none I !important;
  background: #d1e8e885;
  padding: 22px;
  overflow: hidden;
}

.right {
  display: flex;
}

.right p {
  margin-left: 31px;
}
